.are-you-ready{
  padding: 128px 0;
  
  background-image: url(../../../assets/imgs/are-you-ready/blur-grading.png);
  animation: position 3s infinite linear;

  @keyframes position {
    0% {
      background-position: 0 0;
    }

    50% {
      background-position: 0 -200px;
    }

    100% {
      background-position: 0 0;
    }
  }
}