.btn{
  background-color: $primary;
  color: $white !important;
  font-weight: $bold;
  font-size: 1em;
  padding: 16px 40px;
  border-radius: 12px;

  &:hover{
    background-color: $purple;
  }

  &--white{
    @extend .btn;
    background-color: $white !important;
    color: $primary !important;
  }
}