<div class="footer">
  <div class="container">
      <div>
        <p class="footer__head">Company</p>
        <p class="footer__text">About Us</p>
        <p class="footer__text">Why Choose us</p>
        <p class="footer__text">Pricing</p>
        <p class="footer__text">Testimonial</p>
      </div>
      <div>
        <p class="footer__head">Resources</p>
        <p class="footer__text">Privacy Policy</p>
        <p class="footer__text">Terms and Condition</p>
        <p class="footer__text">Blog</p>
        <p class="footer__text">Contact Us</p>
      </div>
      <div>
        <p class="footer__head">Product</p>
        <p class="footer__text">Project managment</p>
        <p class="footer__text">Time tracker</p>
        <p class="footer__text">Time schedule</p>
        <p class="footer__text">Lead generate</p>
        <p class="footer__text">Remote Collaboration</p>
      </div>
      <div>
        <img src="../../../assets/imgs/global/white-logo.svg" alt="">
        <h4 class="my-3">Subscribe to our Newsletter</h4>
        <div class="footer__input d-flex">
          <input type="text" placeholder="Enter your Email">
          <button class="btn btn--white">Subscribe</button>
        </div>
      </div>
  </div>
</div>