@import '../../../app/styles/global.scss';

.hero {
  &::before {
    content: url(../../../assets/imgs/home/hero-grading.png);
    @include position (absolute, 0, 0, 0, 0);
    z-index: -1;
    animation: rotation 5s infinite linear;

    @keyframes rotation {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(359deg);
      }
    }
  }

  &__title {
    margin-top: 96px;
  }

  &__paragraph {
    width: 50%;
    margin-top: 32px;
  }

  &__input {
    margin-top: 48px;
    background-color: $white;
    max-width: 576px;
    padding: 8px 8px 8px 25px;
    border-radius: 20px;

    input {
      width: 100%;
    }
  }

  &__image {
    margin-top: 64px;
    max-width: 1024px;
    width: 100%;
  }
}

.high-quality {
  $self: &;
  margin-top: 128px;

  &__content {
    background-color: rgba($color: $light-violet, $alpha: 0.5);
    padding: 64px 68px;
    border-radius: 24px;
    margin-top: 48px;

    #{ $self }__subtitle {
      margin-top: 24px;
      margin-bottom: 16px;
    }
  }
}

.why-should {
  margin-top: 128px;

  &__list {
    list-style: none;
    padding: 0;
    
    li {
      margin-bottom: 15px;
      width: 80%;
      i {
        background-color: $melon;
        font-size: 1.5rem;
        padding: 0.5rem;
        margin-right: 24px;
        border-radius: 10rem;
        height: fit-content;
      }
    }

  }
}
