<section class="hero text-center">
    <div class="container">
        <h1 class="hero__title">
            The Best Software to Grow <br />
            your Sales and Services
        </h1>
        <p class="hero__paragraph mx-auto">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat.
        </p>
        <div class="hero__input mx-auto d-flex">
            <input type="text" placeholder="Enter Your Email">
            <button class="btn">Get Free trial</button>
        </div>
        <img class="hero__image" src="assets/imgs/home/hero-image.png" alt="">
    </div>
</section>

<section class="high-quality">
    <div class="container">
        <h5 class="text-label mx-auto">High-quality</h5>
        <h2 class="high-quality__title text-center mx-auto mt-3">
            We have the Best Solution<br /> for your Business
        </h2>
        <div class="high-quality__content">
            <div class="row">
                <div class="text-center text-md-left mb-5 mb-mb-0 col-12 col-md-6 col-lg-4">
                    <img src="assets/imgs/home/icon-high-quality-1.svg" alt="">
                    <h3 class="high-quality__subtitle">High security to protect from piracy</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</p>
                </div>
                <div class="text-center text-md-left mb-5 mb-mb-0 col-12 col-md-6 col-lg-4">
                    <img src="assets/imgs/home/icon-high-quality-2.svg" alt="">
                    <h3 class="high-quality__subtitle">Premium quality performance</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</p>
                </div>
                <div class="text-center text-md-left mb-5 mb-mb-0 col-12 col-md-6 col-lg-4">
                    <img src="assets/imgs/home/icon-high-quality-3.svg" alt="">
                    <h3 class="high-quality__subtitle">Full time customer support - 24/7</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="why-should">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h5 class="text-label">High-quality</h5>
                <h2 class="high-quality__title mt-3">
                    To upscale your business<br /> to the next level
                </h2>
                <p class="mt-4">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua invidunt ut labore.
                </p>
            </div>
            <div class="col-12 col-md-6">
                <ul class="why-should__list">
                    <li class="d-flex"><i class='bx bx-right-arrow-alt'></i>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                    </li>
                    <li class="d-flex"><i class='bx bx-right-arrow-alt'></i>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                    </li>
                    <li class="d-flex"><i class='bx bx-right-arrow-alt'></i>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>