<section class="hero text-center">
    <div class="container">
        <h1 class="hero__title">
            The Best Software to Grow <br />
            your Sales and Services
        </h1>
        <p class="hero__paragraph mx-auto">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat.
        </p>
        <div class="hero__input mx-auto d-flex">
            <input type="text" placeholder="Enter Your Email">
            <button class="btn">Get Free trial</button>
        </div>
        <img class="hero__image" src="assets/imgs/home/hero-image.png" alt="">
    </div>
</section>

<section class="high-quality">
    <div class="container">
        <h5 class="text-label mx-auto">High-quality</h5>
        <h2 class="high-quality__title text-center mx-auto mt-3">
            We have the Best Solution<br /> for your Business
        </h2>
        <div class="high-quality__content">
            <div class="row">
                <div class="text-center text-md-left mb-5 mb-mb-0 col-12 col-md-6 col-lg-4">
                    <img src="assets/imgs/home/icon-high-quality-1.svg" alt="">
                    <h3 class="high-quality__subtitle">High security to protect from piracy</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</p>
                </div>
                <div class="text-center text-md-left mb-5 mb-mb-0 col-12 col-md-6 col-lg-4">
                    <img src="assets/imgs/home/icon-high-quality-2.svg" alt="">
                    <h3 class="high-quality__subtitle">Premium quality performance</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</p>
                </div>
                <div class="text-center text-md-left mb-5 mb-mb-0 col-12 col-md-6 col-lg-4">
                    <img src="assets/imgs/home/icon-high-quality-3.svg" alt="">
                    <h3 class="high-quality__subtitle">Full time customer support - 24/7</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="why-should">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h5 class="text-label">Why Should</h5>
                <h2 class="high-quality__title mt-3">
                    To upscale your business<br /> to the next level
                </h2>
                <p class="mt-4">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua invidunt ut labore.
                </p>
            </div>
            <div class="col-12 col-md-6">
                <ul class="why-should__list">
                    <li class="d-flex"><i class='bx bx-right-arrow-alt'></i>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                    </li>
                    <li class="d-flex"><i class='bx bx-right-arrow-alt'></i>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                    </li>
                    <li class="d-flex"><i class='bx bx-right-arrow-alt'></i>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="more-impressions">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md 6 my-auto align-items-center">
                <h2>More impressions, more conversions</h2>
                <p class="my-4 w-75">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                    tempor invidunt ut
                    labore et
                    dolore magna aliquyam erat, sed diam voluptua invidunt ut labore.
                </p>
                <a href="#" class="btn">Get Free trial</a>
            </div>
            <div class="col-12 col-md 6">
                <img src="../../../assets/imgs/home/more-impression-image.png" alt="">
            </div>
        </div>
    </div>
</section>

<section class="container logos">
    <img src="assets/imgs/home/logo-1.png" alt="">
    <img src="assets/imgs/home/logo-2.png" alt="">
    <img src="assets/imgs/home/logo-3.png" alt="">
    <img src="assets/imgs/home/logo-4.png" alt="">
    <img src="assets/imgs/home/logo-5.png" alt="">
</section>

<section class="container discover-more">
    <div class="row">
        <div class="col-12 col-md-6">
            <h5 class="text-label">Discover More</h5>
            <h2 class="discover-more__title mt-3">
                Analyze your sales and <br /> marketing leads
            </h2>
            <p class="mt-4">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua invidunt ut labore.
            </p>
        </div>
        <div class="col-12 col-md-6">
            <ul class="discover-more__list">
                <li class="d-flex align-items-center">
                    <img class="discover-more__icon" src="assets/imgs/home/icon-discover-more-1.svg" alt="">
                    <div>
                        <h4>Sales Tracking</h4>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                    </div>
                </li>
                <li class="d-flex align-items-center">
                    <img class="discover-more__icon" src="assets/imgs/home/icon-discover-more-2.svg" alt="">
                    <div>
                        <h4>Project Management</h4>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                    </div>
                </li>
                <li class="d-flex align-items-center">
                    <img class="discover-more__icon" src="assets/imgs/home/icon-discover-more-3.svg" alt="">
                    <div>
                        <h4>Activity Report</h4>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="features">
    <div class="container">
        <h2 class="text-center mx-auto">
            Features
        </h2>
        <div class="features__content">
            <div class="d-flex-column d-lg-flex">
                <div class="text-center text-md-left mb-5 mb-mb-0 col-12 col-md-6 col-lg-4">
                    <img src="assets/imgs/home/icon-features-1.svg" alt="">
                    <h3 class="features__subtitle">Advanced 256-bit encryption </h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                </div>
                <div class="text-center text-md-left mb-5 mb-mb-0 col-12 col-md-6 col-lg-4">
                    <img src="assets/imgs/home/icon-features-2.svg" alt="">
                    <h3 class="features__subtitle">Simple collaboration tools</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                </div>
                <div class="text-center text-md-left mb-5 mb-mb-0 col-12 col-md-6 col-lg-4">
                    <img src="assets/imgs/home/icon-features-3.svg" alt="">
                    <h3 class="features__subtitle">Customizable AI features</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimonials container">
    <h2 class="testimonials__title">The stunning results our customers have experienced</h2>
    <div class="d-flex-column d-lg-flex">
        <div class="testimonials__testimonial mr-0 mr-lg-3 mb-3 mb-lg-0 text-center">
            <h5 class="testimonials__paragraph">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua.
            </h5>
            <div class="testimonials__image mx-auto">
                <img src="https://images.pexels.com/photos/1222271/pexels-photo-1222271.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
            </div>
            <h4>Ron Wood</h4>
            <h6>CEO</h6>
        </div>
        <div class="testimonials__testimonial mr-0 mr-lg-3 mb-3 mb-lg-0 text-center">
            <h5 class="testimonials__paragraph">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua.
            </h5>
            <div class="testimonials__image mx-auto">
                <img src="https://images.pexels.com/photos/3775534/pexels-photo-3775534.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
            </div>
            <h4>Mark Mason</h4>
            <h6>Marketing Manager</h6>
        </div>
        <div class="testimonials__testimonial text-center">
            <h5 class="testimonials__paragraph">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua.
            </h5>
            <div class="testimonials__image mx-auto">
                <img src="https://images.pexels.com/photos/7389115/pexels-photo-7389115.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
            </div>
            <h4>Sam Preston</h4>
            <h6>CTO</h6>
        </div>
    </div>
</section>