<div class="hero text-center">
    <div class="container">
        <h1 class="hero__title">
            The Best Software to Grow <br />
            your Sales and Services
        </h1>
        <p class="hero__paragraph mx-auto">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat.
        </p>
        <div class="hero__input mx-auto d-flex">
            <input type="text" placeholder="Enter Your Email">
            <button class="btn">Get Free trial</button>
        </div>
        <img class="hero__image" src="assets/imgs/home/hero-image.png" alt="">
    </div>
</div>