body{
  font-family:'Roboto', sans-serif;
  color: $primary;
}
.container{
  max-width: 1240px !important;
  margin: 0 auto !important;
}


h1,h2,h3,h4,h5,h6{
  font-weight: $bold;
  margin: 0;
}

h1{
  font-size: 3.5em;
  line-height: 110%;
}
h2{ 
  font-size: 3em;
  line-height: 120%;
}
h3{
  font-size: 2em;
  line-height: 120%;
}
h4{
  font-size: 1.25em;
  line-height: 140%;
  font-size: $normal !important;
}
h5{
  font-size: 1.125em;
  line-height: 150%;
  font-weight: $semibold;
}
h6{
  font-size: 0.8em;
  line-height: 150%;
  font-weight: $normal;
}
p{
  font-size: 1em;
  line-height: 150%;
  font-weight: $normal;
}
.text-label{
  font-size: 1.563em;
  font-weight: $bold;
  line-height: 120%;
  background: $label-gradient;
  width: fit-content;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


